
<table class="center">
  <caption>Stock</caption>

  <tr id="style">
    <td id="name">Name:</td>
    <td id="type">Type:</td>
    <td id="origin">Origin:</td>
    <td id="quantity">Quantity:</td>
    <td id="buy">Buy:</td>
    <td id="sell">Sell:</td>
    <td id="mark-up">Mark-up:</td>
    <td id="edit">Edit:</td>
   <td id="delete">Delete:</td>
</tr >
<% @flowers.each do |flower| %>
<tr id="style-1">
  <td id="fname"><%= flower.flower_name() %></td>
  <td><%= flower.type%></td>
  <td><%= Origin.find(flower.origin_id).origin_name%></td>
  <td><%= flower.quantity%></td>
  <td><a href="/flowers/<%= flower.id %>"><%=flower.buy_price%></a></td>
  <td><a href="/flowers/<%= flower.id %>"><%=flower.sell_price%></a></td>
  <td> <%= flower.mark_up()%></td>
  <td><a href="/flowers/<%=flower.id%>/edit">change</a></td>
  <td><a href="/flowers/<%=flower.id%>">go</a></td>
</tr>
    <% end %>
    <% @plants.each do |plant| %>
     <tr id="style-1">
      <td id="fname"> <%= plant.plant_name() %></td>
      <td><%= plant.type%></td>
      <td><%= Origin.find(plant.origin_id).origin_name%></td>
      <td><%= plant.quantity%></td>
      <td><a href="/plants/<%= plant.id %>"><%=plant.buy_price%></a></td>
      <td><a href="/plants/<%= plant.id %>"><%=plant.sell_price%></a></td>
      <td><%= plant.mark_up()%></td>
      <td><a href="/plants/<%=plant.id%>">change</a> </td>
      <td><a href="/plants/<%=plant.id%>">go</a></td>
    </tr>
  <% end %>
</table>
