<h1>The Stock</h1>
<% @flowers.each do |flower| %>
  <p>Name: <%= flower.flower_name() %></p>
    <p>Origin: <%= Origin.find(flower.origin_id).origin_name%></p>
  <p>Quantity: <%= flower.quantity%></p>
  <p>Buy:<a href="/flowers/<%= flower.id %>"><%=flower.buy_price%></a></p>
  <p>Sell:<a href="/flowers/<%= flower.id %>"><%=flower.sell_price%></a></p>
  <p>Mark-up: <%= flower.mark_up()%></p>
  <hr/>
  <% end %>
  <% @plants.each do |plant| %>
    <p>Name: <%= plant.plant_name() %></p>
      <p>Origin: <%= Origin.find(plant.origin_id).origin_name%></p>
    <p>Quantity: <%= plant.quantity%></p>
    <p>Buy:<a href="/plants/<%= plant.id %>"><%=plant.buy_price%></a></p>
    <p>Sell:<a href="/plants/<%= plant.id %>"><%=plant.sell_price%></a></p>
    <p>Mark-up: <%= plant.mark_up()%></p>
    <hr/>
<% end %>
