<!-- PLANTS EDIT -->
<form method="post" action="/plants/<%= @plants.id%>">

<label for="name"> <span class="serif"> Name:</span></label>
<input
type="text"
name="plant_name"
id="name"
value="<%= @plants.plant_name %>"
 />

 <label for "origin"><span class="serif">Origin:</span></label>
<select name="origin_id">
  <% for origin in @origins %>
    <% if origin.id == @plants.origin_id %>
      <option selected="selected" value="<%=origin.id%>"><%=origin.origin_name%></option>
    <% else %>
      <option value="<%=origin.id%>"><%=origin.origin_name%></option>
    <% end %>
  <% end %>
</select>

<label for="quantity"><span class="serif">Quantity:</span></label>
<input
type="text"
name="quantity"
id="plants"
value="<%= @plants.quantity%>" />
<input type='submit' value=" Edit">
</form>
